/* comment in a css file */


/* RESET to collapse this you need to put ... after the final slash of region
-------------------------------*/
/*#region*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Make the box-model border-box by default*/

html {
  font-size: 15px; /*when we put rem size it means root (html) so put font-size here not to body */
  scroll-behavior: smooth;
}

/*#endregion*/

body {
font-size: 1rem; /*rem based on root(html)!it is based on the parent em! ????*/
font-family: 'Alegreya Sans';;
color: #212121; /* it smooths the default black text*/
line-height: 1.5; /*by default it is "em"*/


}

/*LINKS*/

a {
  text-decoration: none;
  outline: none;
  color: #000;
  transition: 2s ease;
  font-family: 'Alegreya Sans';
  font-weight: 700;
  font-size: 1em;
}

a:hover { 
}

/*FORM ELEMETS*/
button {
  background: none;
 
}

input, input:focus {
}

/*TITLES*/
h1, 
h2 {
  font-weight: bold;
  font-family: 'Alegreya Sans';
  font-weight: 700;
}

h1 {
  font-size: 2em;
  font-family: 'Alegreya Sans';
}
h2 {
  font-size: 1.5em;
  font-family: 'Alegreya Sans';
}

p {
  margin-bottom: 1em;
  font-family: 'Alegreya Sans';
  font-weight: 500; 
}




/* BASIC FORMATTING
-------------------------------- */

footer {
  background-color: #fdefe6; 
}

article {
  font-size: 1em;
  font-family: 'Alegreya Sans';
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1em;
  
}

footer {
  background-color: skyblue; 
}


/* HELPER CLASSES
------------------------------------ */

/* TEXT */
.uppercase {
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0.667em;
}

.blue {
  color: blue;
  line-height: 1.5;
}


/*FLEX*/

.follow {
  display: flex;
  justify-content: flex-start;
  padding: 2.667em;
}

.distance {
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*PADDING AND MARGIN*/

.distance2 {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;

}

.title {
  text-align: center;
  padding: 0.667em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}

.paragraph {
  text-align: justify;
  padding: 0.667em;
  font-weight: 500;
  font-size: 1.2em;
}

.icon {
  margin: 0.5em;
}
/*MEASURES*/

.widhe {
  width: 53.333em;
  height: 33.333em;
  border-radius: 50px 50px;
  display: block;
  margin: 0 auto;

}

.logo_radius {
  border-radius: 50%;
}

/* ID 
-------------------------------------*/
#font_weight {
  font-weight: 700;
  text-align: center;
}

/*#row {
  display: flex;
  flex-wrap:wrap;
}*/

/* LAYOUT
--------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1.333em;
  background-color: skyblue;
}

main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  margin: 1.5em;
}

/* MEDIA QUERIES
---------------------------------------- */